<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New User</title>
</head>
<body>
<form th:action="@{/saveUser}" th:method="POST" th:object="${user}">
    <input type="hidden" id="id" name="id" th:value="${user.id}" />
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:value="${user.name}" required><br><br>

    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname"th:value="${user.surname}" required><br><br>

    <label for="age">Age:</label>
    <input type="number" id="age" name="age" th:value="${user.age}"required><br><br>

    <label for="sex">Sex:</label>
    <input type="text" id="sex" name="sex"th:value="${user.sex}" required><br><br>

    <input type="submit" value="Ok" onclick="redirectToPage('${user.id}', '${user.name}', '${user.surname}', '${user.age}', '${user.sex}')">
</form>
</body>
</html>